#data-loading {
    position: fixed;
    display: none;
    margin-top: 8px;
    text-align: center;
    width: 100%;
    top: 19px;
    z-index: 99;
    span {
        background-color: #F9EDBE;
        padding: 6px 8px;
        border-radius: 4px;
        font-weight: 600;
        font-size: 12px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1294117647)
    }
}
